@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import "tailwindcss";

div{
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#D5D0BD;
  --secondary:#cbcbcb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1{
  font-size: 2.5rem;
  font-weight: 800;
}
.fadeborder{
  background: linear-gradient(to bottom,#1F1F1F,#d5d0bd41,#D5D0BD,#d5d0bd41,#1F1F1F);
}

.banner{
  background: linear-gradient(45deg,#8F3F12,#663024,#3C0847,#2E0450,#09266A,#053271,#26508C,#324B99,#3C448C,#4A2A41,#371517,#140402);

}

.dot{
  transform: translateX(50%);
  margin-left: auto;
}

.search{
  background: linear-gradient(to right,#000,#d5d0bd05,#d5d0bd12,#d5d0bd14,#d5d0bd12,#d5d0bd05,#000);
  backdrop-filter: blur(100px);
}



.orbitgrad{
  position: absolute;
  height: calc(100% + 350px);
  transform: translate(50%,-50%);
  right: 0;
  top: 50%;
}

.orbitgradtwo{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
  height: calc(100% + 575px);
}

.orbitgradthree{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
  height: calc(100% + 850px);
}


.orbitlu{
  stroke: url('#fade-left');
}

.orbitone{
  position: absolute;
  height: calc(100% + 350px);
  transform: translate(50%,-50%);
  right: 0;
  top: 50%;
  animation: orbit 60s linear infinite;
}

.orbittwo{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
  height: calc(100% + 575px);
  animation: orbit 80s linear infinite;
}

.orbitthree{
  position: absolute;
  transform: translate(50%,-50%);
  right: 0;
  top: 50%;
  height: calc(100% + 850px);
  animation: orbit 110s linear infinite;
}




.detailcont{
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.orbit{
  mix-blend-mode: multiply;
}

.gradientmask {
  mix-blend-mode: multiply;
}

@keyframes orbit {
  0%{
    transform: translate(50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(50%,-50%) rotate(360deg);
  }
}